TORN_API_KEY=your_key_here
ENERGY_REFILL_COST=30
PORT=3000
OPEN_IMAGE_PATH=https://github.com/chandlerd858/torn-status-banner/blob/public/DPF%20OPEN.png
CLOSED_IMAGE_PATH=https://github.com/chandlerd858/torn-status-banner/blob/public/DPF%20CLOSED.webp
BADGE_WIDTH=300
BADGE_HEIGHT=200
